# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
log/*
tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/server.pid

# Ignore Byebug command history file.
.byebug_history
config/database.yml
config/secrets.yml
